#blogContainer {
  padding: 24px 64px;

  .blogContent {
    .blogTitle {
      color: #7d7d7d;
      .title {
        float: left;
        font-size: 24px;
      }
      .createdAt {
        float: right;
        font-size: 14px;
        padding-top: 12px;
        padding-left: 12px;
      }
      padding-bottom: 24px;
    }

    .blogEntry {
    }

    .blogFooter {
    }
  }

  #blogLoadMore {
    color: white;
    background-color: #666;
  }
}

.hideFooter {
  .blogFooter {
    display: none;
  }
}
