@import 'blog';

nav {
  a, a:visited, a:link, a:active {
    color: $navFontColor;
  }
  a:hover {
    color: $navHoverColor;
  }
}

#footer {
  max-width: calc($sidebarMaxLength + $contentMaxLength);
  color: $footerFontColor;

  a, a:visited, a:link, a:active {
    color: $footerFontColor;
  }

  a:hover {
    color: $footerHoverColor;
    text-decoration: none;
  }

  text-align: center;
  margin-top: 16px;

  font-size: 14px;
  font-weight: 200;
}
