@import 'blog';

nav {
  a, a:visited, a:link, a:active {
    color: $navFontColor;
  }
  a:hover {
    color: $navHoverColor;
  }
}

#footer {
  max-width: calc($sidebarMaxLength + $contentMaxLength);
  color: $footerFontColor;

  a, a:visited, a:link, a:active {
    color: $footerFontColor;
  }

  a:hover {
    color: $footerHoverColor;
    text-decoration: none;
  }

  text-align: center;
  margin-top: 16px;

  font-size: 12px;
  font-weight: 400;
}


#divider {
  margin: 32px auto 8px auto;
  clear: both;
  text-align: center;

  .bubble {
    display: inline-block;
    background: $basicFontColor;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin: 4px;
  }
}

.responsiveHidden {
  @media (min-width: $sidebarMaxLength + $contentMaxLength) {
    display: none;
  }
}
