#blogsContainer {
  margin: 0 auto;
  padding: 0;
  @media (min-width: $sidebarMaxLength + $contentMaxLength) {
    float: right;
    padding: 26px 0;
  }

  max-width: $contentMaxLength;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;

  .blogContainer {
    padding: 0 16px;
    margin-bottom: 32px;

    .blogContent {
      .blogHeader {
        font-weight: 700;
        overflow: hidden;

        .title {

          float: left;
          font-size: 24px;
        }
        .createdAt {
          float: right;

          font-size: 14px;
          padding-top: 12px;
          padding-left: 12px;
        }
        margin-bottom: 24px;
      }

      .blogEntry {
        clear: both;

        margin-top: 16px;

        a {
          font-weight: 800;
        }

        h1, h2, h3, h4, h5, h6 {
          font-weight: 500;
        }

        font-weight: 400;
        font-size: 14px;
      }

      .blogFooter {
        clear: both;

        padding: 12px 0;
        border-bottom: 1px solid $basicFontColor;

        font-size: 12px;
      }

    }
  }
}
