pre {
  code {
    font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
    border: 0 !important;
    font-size: 12px;

    ol {
      background-color: #4b6370;
    }

    li {
      span.pln {
        color: $codeColor;
      }

      @media screen {
        /* string content */
        span.str {
          color: #99cc99;
        }

        /* keyword */
        span.kwd {
          color: #cc99cc;
        }

        /* comment */
        span.com {
          color: #9d9d9d;
        }

        /* type name */
        span.typ {
          color: #6699cc;
        }

        /* literal value */
        span.lit {
          color: #f99157;
        }

        /* punctuation */
        span.pun {
          color: #cccccc;
        }

        /* lisp open bracket */
        span.opn {
          color: #cccccc;
        }

        /* lisp close bracket */
        .clo {
          color: #cccccc;
        }

        /* markup tag name */
        span.tag {
          color: #f2777a;
        }

        /* markup attribute name */
        span.atn {
          color: #f99157;
        }

        /* markup attribute value */
        span.atv {
          color: #66cccc;
        }

        /* declaration */
        span.dec {
          color: #f99157;
        }

        /* variable name */
        span.var {
          color: #f2777a;
        }

        /* function name */
        span.fun {
          color: #6699cc;
        }
      }
    }

    li {
      list-style-type: decimal-leading-zero;
      color: #70818b;
    }

    li:before {
      content: ' ';
    }

    li.L1, li.L3, li.L5, li.L7 {
      background-color: #5c7a8b;
    }

    li.L0, li.L2, li.L4, li.L6, li.L8 {
      background-color: #547181;
    }
  }
}
