pre {
  code {
    li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8 {
      list-style-type: decimal !important;

      color: $codeColor;

      span.com {
        color: $commentColor;
      }
      span.pln {
        color: $codeColor;
      }
    }

    li.L1, li.L3, li.L5, li.L7 {
      background-color: #5c7a8b;
    }

    li.L0, li.L2, li.L4, li.L6, li.L8 {
      background-color: #547181;
    }
  }
}
