$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome.scss';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

$backgroundColor: #547485;
$basicFontColor: #e2e2e2;
$basicHoverColor: #bababa;

$navFontColor: $basicFontColor;
$navHoverColor: $basicHoverColor;

$contentFontColor: $basicFontColor;

$footerFontColor: $basicFontColor;
$footerHoverColor: $basicHoverColor;

$sidebarMaxLength: 260px;
$contentMaxLength: 400px;

$codeColor: #f2ead6;

body {
  font-family: 'Open Sans';
  background-color: $backgroundColor;
  color: $basicFontColor;

  a {
    text-decoration: none;
  }

  a, a:visited, a:link, a:active {
    color: $basicFontColor;
  }

  a:hover {
    color: $basicHoverColor;
  }

  img {
    border-radius: 4px;
    border: 1px solid $basicFontColor;
    border-image: none 1 stretch;
    box-sizing: border-box;
    padding: 2px;
    background-color: rgba(196, 196, 196, 0.35);

    max-width: 100%;
    max-height: 100%;
  }

  #appContainer {
    margin: 0 auto;
    padding: 24px 0;
    max-width: $sidebarMaxLength + $contentMaxLength;

    overflow: hidden;

    @import 'app';
    @import 'sidebar';
    @import 'prettify';
  }
}

.clear {
  clear: both;
}
